.header-title {
  font-family: Arial, Helvetica, sans-serif;
}

.header-nav-item {
  font-family: var(--acsent-font);
}

.content__image-wrapper {
  max-width: 763px;
  max-height: 1009px;
  position: relative;
}

.content__image{
  inline-size: 100%;
  object-fit: fill;
  object-position: center;
  z-index: 1;
}